<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barmode.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.AbrirMesa"
            android:label="@string/title_activity_abrir_mesa"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StatusMesa"
            android:label="@string/title_activity_status_mesa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.ErrorReport"
            android:label="@string/title_activity_error_report"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".Service.MesaService"
            android:exported="false"
            android:screenOrientation="portrait" >
        </service>

        <activity
            android:name=".Activity.FazerPedido"
            android:label="@string/title_activity_fazer_pedido"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.FecharConta"
            android:label="@string/title_activity_fechar_conta" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
